#root, body, html {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(115deg, #0f0c2926 0%, #302b6361 50%, #24243e2a 100%), url(./assets/bg-creme.png);
    background-size: cover;
}